@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  position: relative;
  --foreground-color: 0, 0, 0;
  --background-color: 255, 255, 255;
  min-height: 100%;
  padding: 80px 0 100px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: 255, 255, 255;
    --background-color: 17, 17, 17;
  }
}

body {
  color: rgb(var(--foreground-color));
  background: rgb(var(--background-color));
}
